# Ignore Python cache
__pycache__/
*.pyc

# Ignore images
results/
federated_learning/results/
brisque/results/
viz_one/
future_works/
state_dicts/
scores/
data/
.vscode/settings.json
bachelor-env/
flower/
flower-tutorial/
reconstructions/

*.png
*.jpg
*.jpeg

*.err
*.out

*.pt