# Ignore Python cache
__pycache__/
*.pyc

# Ignore images
results/assessment/
data/
.vscode/settings.json
bachelor-env/
flower/
flower-tutorial/
attack_function/reconstructions/
attack_function/Theresa_nb/
reconstructions/

*.png
*.jpg
*.jpeg

*.err
