# Ignore Python cache
__pycache__/
*.pyc

# Ignore images
results/
brisque/results/
federated_learning/results/
state_dicts/
viz_one/
future_works/
data/
.vscode/settings.json
bachelor-env/
flower/
flower-tutorial/
attack_function/reconstructions/
attack_function/Theresa_nb/
reconstructions/

*.png
*.jpg
*.jpeg

*.err
*.out

*.pt